body {
    background-color: #eee;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.topic-label {
    width: 100%;
    text-align: center;
    display: block;
    background-color: aqua;
}

.messages {
    background-color: darkgrey;
}

.channel-list-sidebar {
    position: fixed;
    background-color: red;
    width: 10%;
    /*display: inline-block;*/
    overflow-y: auto;
    max-height: 100%;
}

.user-list-sidebar {
    vertical-align: top;
    position: fixed;
    right: 0;
    display: flex;
    float: right;
    width: 15%;
    background-color: aquamarine;
    overflow-y: auto;
    /*max-height: 100%;*/
}

.input-bar {
    display: inline-block;
    width: 95%;
    position: absolute;
    bottom: 0px;
}

.input {
    width: 100%;
}