body {
    background-color: #eee;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.topic-label {
    width: 100%;
    text-align: center;
    display: block;
    background-color: aqua;
}

.channel-list-sidebar {
    vertical-align: top;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: inline-block;
    float: left;
    width: 15%;
    background-color: red;
    overflow-y: auto;
    height: 100%;
}

.user-list-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    vertical-align: top;
    display: inline-block;
    float: right;
    width: 15%;
    background-color: aquamarine;
    overflow-y: auto;
    height: 100%;
}

.input-bar {
    width: 95%;
    position: absolute;
    bottom: 0px;
}

.input {
    width: 100%;
}