<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AwwChat</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/client.js"></script>
</head>
<body>
<div class="client-window">
    <div class="top-bar"><label class="topic-label">This is the topic</label></div>
    <div class="channel-list-sidebar">
        <ol class="channel-list">
            <li class="channel-list-item">#Aww</li>
            <li class="channel-list-item">#Aww</li>
            <li class="channel-list-item">#Aww</li>
            <li class="channel-list-item">#Aww</li>
            <li class="channel-list-item">#Aww</li>
            <li class="channel-list-item">#Aww</li>
        </ol>
    </div>
    <div class="user-list-sidebar">
        <ol class="user-list">
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
            <li class="user-list-item">AwwCookies</li>
        </ol>
    </div>
    <div class="input-bar">
        <input class="input" type="text" placeholder="text goes here...."/>
    </div>
</div>
</body>
</html>